---
layout: page
title: All Lectures
---

<h1>Course Lectures</h1>

<ul id="lecture-list">
  {% assign sorted_lectures = site.lectures | sort: "date" %}
  {% for lecture in sorted_lectures %}
  <li style="margin-bottom: 1em;">
    <strong>Lecture {{ lecture.lecture_number }} - {{ lecture.date | date: "%B %d, %Y" }}</strong><br/>

    {% if lecture.pdf_path %}
      <a href="{{ lecture.pdf_path }}" target="_blank">📄 Lecture Notes (PDF)</a><br/>
    {% endif %}

    {% if lecture.notebook_path %}
      <a href="{{ lecture.notebook_path }}" download>📘 Notebook (.ipynb)</a><br/>
    {% endif %}
    
    {% if lecture.content != '' %}
      <div class="markdown-content" style="margin-top: 5px;">
        {{ lecture.content }}
      </div>
    {% endif %}
  </li>
  {% endfor %}
</ul>
