---
layout: page
---

{{ content }}

<ul id="archive">
{% for lecture in site.lectures %}
<li class="archiveposturl" style="background: transparent">
<div class="lecture-container">
    {% if lecture.thumbnail %}
    <div class="thumbnail">
      <div class="center-cropped" style="margin-top:5px;margin-bottom:5px;background-image: url('{{ lecture.thumbnail | prepend: site.baseurl }}');">
        <img src="{{ lecture.thumbnail | prepend: site.baseurl }}"/>
      </div>
    </div>
    {% endif %}
    <div class="content">
        <span style="font-weight: bold;">{{ lecture.title }}</span><br>

        <strong>tl;dr:</strong> {{ lecture.tldr }}
        <br/>

        <a href="/cosmos/static_files/presentations/DSBasics.pdf" target="_blank">Lecture One Notes</a>
        <br>
       <!--for loop for ipynb file -->
        <ul>
          {% for item in page.links %}
            {% if item.url contains '.ipynb' %}
              <li><a href="/cosmos/static_files" download>{{ item.name }}</a></li>
            {% endif %}
          {% endfor %}
        </ul>

        
        {% if lecture.content != '' %}
        <br/>
        <div class="markdown-content" style="margin-top: 3px;">
        {{ lecture.content }}
        </div>
        {% endif %}
    </div>
</div>
</li>
{% endfor %}
</ul>
